@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Great+Vibes&family=Roboto:wght@100&family=Tangerine&display=swap');

.lolo{
    height:100%;
    width: 100%;
    cursor: pointer;
}
.title{
    font-size: 2.2rem;
    margin: 2%;
    letter-spacing: normal;
    line-height: normal;
    font-family: 'Great Vibes', cursive;
}
.description{
    margin: 2%;
    font-size: 1.7rem;
    margin-top:4%;
    font-family: 'Great Vibes', cursive;
}
.cardButton {
    font-size: 1.0rem;
    margin: 2%;
    margin-top:4%;
}
button {
    height:2em;
    color: #29434e;
    background-color:#f17f66 ;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cardImage > img{
    width:100%;
}