@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Great+Vibes&family=Roboto:wght@100&family=Tangerine&display=swap');
/* body{
  background-color: rgb(251, 176, 76);;
} */
.intro {
  background-color: black;
  height: 100%;
  width: 100%;

}
.h1Tag{
    color: rgb(251, 176, 76);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}
.container{
  background-color: rgb(251, 176, 76);
  width:100%;
  height: 100%;
  font-size: 1.1rem;
  display:block;
  /* padding: 3em; */
}
.circle-bg{
  background-color: #f17f66;
  margin: 0px;
}
.row{
  display: flex;
  flex-direction: row;;
  padding: 2em; 
  
}
.circle > img {
    width:22em;
  min-width: 22em;
  height: 22em;
  border-radius:50%
}
img{

  /* width:22em;
  min-width: 22em;
  height: 22em; */
  
}
.circle {
  height: 22em;
  width:22em;
  min-width: 22em;
  max-height: 22em;
  /* border-radius:50%; */
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
}
.circle-round{
  border-radius:50%;
}
.circle>img{
  border-radius:50%
}

.row-overlap > div{
  margin: 0px;
  margin-right: -2%;
}
.displayArea >h1 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 2em;
}

.displayArea >h2 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 1em;
}
.displayArea{
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0px;
}

.circle-bg{
 background-color: #f17f66;
}

.centre-horizontal{
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .container{
    font-size: 0.6rem;
    width:100%;
    height:100%;
  }
  .row{
    flex-direction: column;
   
  }
  .row-overlap>div{
    margin-bottom: -5%;
  }
  .portfolio{
    margin-top:7em;
  }

}
@media (max-width: 400px) {
  .container{
    font-size: 0.8rem;
    width:100%;
    height:100%;
  }
  .row{
    flex-direction: column;
   
  }
  .row-overlap>div{
    margin-bottom: -5%;
  }
  .portfolio{
    margin-top:7em;
  }

}
