@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Great+Vibes&family=Roboto:wght@100&family=Tangerine&display=swap');
.h1Tag{
    color: wheat;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}

.h1Tag2{
    color: wheat;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    animation: slideUp .8s;
/* font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive; */
}
  
  @keyframes slideUp {
    0% {
      transform: translate(100%);
    }
    100% {
      transform: translate(0%);
    }
  }
 

.container{
  width:100%;
  height:100%;
  font-size: 1.1rem;
  /* color: wheat; */
}
.circle-bg{
  background-color: wheat;
}
.row{
  display: flex;
  flex-direction: row;
  
  
}

img{
  min-width: 22em;
  max-width:22em;
  width:22em;
}
.circle {
  height: 22em;
  width:22em;
  min-width: 22em;
  border-radius:50%;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.portfolio{
  margin-top:4em;
}
.circle>img{
  border-radius:50%
}

.row-overlap > div{
  margin-right: -2%;
}
.displayArea >h1 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 3rem;
}
.displayArea{
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.circle-bg{
  background-color: wheat;
}

.centre-horizontal{
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .container{
    font-size: 0.7rem;
  }
  .row{
    flex-direction: column;
  }
  .row>div{
    margin-bottom: -2em;
  }
  
  /* .circle {
    height: 10em;
    width: 10em;
    min-height: 10em;
    min-width:10em;
    border-radius:50%
  } */
}
@media (max-width: 400px) {
  .container{
    font-size: 0.8rem;
  }
  .row{
    flex-direction: column;
   gap: -2%;
  }
  .portfolio{
    margin-top:7em;
  }
  /* .circle {
    height: 10em;
    width: 10em;
    min-height: 10em;
    min-width:10em;
    border-radius:50%
  } */

}
.navigation{
  color: wheat;
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  gap: 2em;
  font-family: 'Great Vibes', cursive;
  margin-left: 2em;
  margin-top: 1em;
}