html, body {
  height: 100%;/* min-height 100% can only be applied if there is a reference. The 100% height on body, htm is this reference to use the min-height 100% on the container */ 
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}