body {

}
.card{
    background-color: #f5cb42;
    border-radius: 8px;
    width:10em;
    height:12em;
    border-color: #a52b54;
    color: #a52b54;
    padding: 2%;
}
.navigation{
    color: #a52b54;
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    gap: 2em;
    display: flex;
    direction: column;
    font-family: 'Great Vibes', cursive;
    margin-left: 2em;
    padding: 1em;
    background-color: #f5cb42;
    
  }
  a{
    color: #a52b54;
   text-decoration: none;
   cursor: pointer;
 }
  /* .container{
    font-size: 1.4rem;
      margin-top: 1em;
      display: flex;
      direction: column;
  } */